@headerHeight: 56px;
@headerBackgroundColor: #24292e;

.headerbar-container() {
    height: @headerHeight;
    line-height: @headerHeight;
    background-color: @headerBackgroundColor;
    display: flex;
    justify-content: space-between;
}