@media screen and (max-width: 980px) {
    .headerbar-item-left, 
    .headerbar-item-right {
        padding: 0 10px;
    }
    
    .body-container {
        margin: 0px;
        padding: 10px;   
    }
}

@media screen and (max-width: 420px) {
    .body-container {
        .body-container-profile, 
        .body-container-baseinfo {
            width: 100%;
        }

        .body-container-baseinfo {
            padding-left: 0px;
        }
    }
}