@import './base/base.less';

.headerbar-container {
    .container();

    .headerbar-item-left {
        padding-left: 10px;
        font-size: 19px;
    }

    .headerbar-item-right {
        padding-right: 10px;
        span {
            cursor: pointer;
            padding: 0 5px;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

.footerbar-container {
    .container();

    background-color: #ffffff;
    border-top: 1px solid #eaecef;
    margin: 0 e("calc( 50% - 490px )");
    padding: 0px 10px;
    box-sizing: border-box;
    color: @fontColor;

    a {
        text-decoration: none;
        cursor: pointer;

        &:active, &:visited, &:link {
            color: @fontColor;
        }

        &:hover {
            color: #000000;

            & svg path {
                fill: rgba(0, 0, 0, .5);
            }
        }
    }

    .footer-item-left, .footer-item-right, .footer-item-center {
        flex-grow: 1;
    }

    .footer-item-center {
        svg {
            width: 24px;
            
            path {
                fill: #c6cbd1;
            }
        }
    }

    .footer-item-right {
        text-align: right;
    }
}

.body-container {
    .container();

    margin: 0 e("calc( 50% - 490px )");
    padding: 0px;
    background-color: #ffffff;
    color: @fontColor;
}